.p-items-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding: 0;
    justify-content: flex-start;
  }


.p-item {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 5px 10px;
    margin-bottom: 0;
    display: flex;
    position: relative;
}

@media (max-width: 767px){
.p-item {
  flex: 0 0 50%;
  max-width: 50%;
}
}

.p-item-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: rgba(242, 247, 250, 0.281);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
  }

.p-item-inner .offer-div {
    display: flex;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
}

.p-item-inner .offer-span {
    background: #6E2594;
    width: auto;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    line-height: 14px;
    margin-bottom: 2px;
    border-radius: 0 20px 20px 0;
    flex: 0 0 auto;
  }

.p-item-img {
    text-align: center;
    border-bottom: 3px solid rgba(55, 73, 187, 0.03);
    flex: 0 0 220px;
    padding: 20px;
    margin: 0;
  }

.p-item-details {
    padding: 15px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.p-item-name {
    height: 60px;
  }

.p-item-name a {
    color: #111;
    text-decoration:none;
}

.p-item-name a:hover {
  color: rgb(131, 149, 228);
  text-decoration:none;
}

.p-item-price {
    line-height: 22px;
    font-size: 17px;
    font-weight: 600;
    color: #EF4A23;
  }

  .p-item-price-regular {
    line-height: 22px;
    font-size: 17px;
    font-weight: 600;
    color: #05050579;
  }

  .p-item-price-special {
    line-height: 22px;
    font-size: 17px;
    font-weight: 600;
    color: #EF4A23;
  }
