{% extends 'base.html' %}



{% block content %}

<div class="catbar">
    {% for categories in category %}

  <div class="catbardropdown">
    <button class="catbardropbtn">{{ categories }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="catbardropdown-content">
        {% for sub_categories in sub_category %}
        {% if categories == sub_categories.parent_category %}
      <a href="{% url 'view_sub_category_products' sub_categories.pk %}">{{ sub_categories }}</a>
        {% endif %}
        {% endfor %}
    </div>
  </div>
    {% endfor %}
</div>

		    


        {% for sub_categoriess in nonemty_sub_category %}
        <div class="subcatbar">
            <a href="{% url 'view_sub_category_products' sub_categoriess.pk %}">{{sub_categoriess.sub_category_name}}</a>
        </div>
        <div class="p-items-wrap">
        {% for products in product %}

        {% if sub_categoriess == products.sub_category %}

          <div class="p-item">
            <div class="p-item-inner">
              <div class="p-item-img">
                <img src="{{ products.product_pic.url }}" alt="HTML5"  width="228" height="228">
              </div>
              <div class="p-item-details">
                <div class="p-item-name">
                  <a href="{% url 'view_product_details' products.pk %}">
                    <h4>{{ products.name }}</h4>
                  </a>
                </div>
                <div class="p-item-price">
                  <p class="p-item-price-regular">Regular Price: {{ products.normal_price }} Tk</p>
                  <p class="p-item-price-special">Special Price: {{ products.discount_price }} Tk</p>
                </div>
              </div>
          <p class="cardcustom">
            <button onclick="location.href=`{% url 'add_product_to_cart' products.pk %}` " type="button">Add to Cart</button></p>
        </div>
        </div>
       


        {% endif %}

        
        {% endfor %}
       </div>
        {% endfor %}
        

        <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
      
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
        </div>
 

{% endblock %}