{% extends 'base.html' %}



{% block content %}

<div class="catbar">
    {% for categories in category %}

  <div class="catbardropdown">
    <button class="catbardropbtn">{{ categories }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="catbardropdown-content">
        {% for sub_categories in sub_category %}
        {% if categories == sub_categories.parent_category %}
      <a href="{% url 'view_sub_category_products' sub_categories.pk %}">{{ sub_categories }}</a>
        {% endif %}
        {% endfor %}
    </div>
  </div>
    {% endfor %}
</div>

<div class="subcatbar"><a href="">{{subCategory}}</a></div>

{% for brands in brand_in_this %}
<div class="brandbar"><a href="">{{brands}}</a></div>


<div class="p-items-wrap">
  {% for products in product %}

  {% if brands == products.brand %}

    <div class="p-item">
      <div class="p-item-inner">
        <div class="p-item-img">
          <img src="{{ products.product_pic.url }}" alt="HTML5"  width="228" height="228">
        </div>
        <div class="p-item-details">
          <div class="p-item-name">
            <a href="{% url 'view_product_details' products.pk %}">
              <h4>{{ products.name }}</h4>
            </a>
          </div>
          <div class="p-item-price">
            <p class="p-item-price-regular">Regular Price: {{ products.normal_price }} Tk</p>
            <p class="p-item-price-special">Special Price: {{ products.discount_price }} Tk</p>
          </div>
        </div>
    <p class="cardcustom"><button>Add to Cart</button></p>
  </div>
  </div>
 

  {% endif %}

  
  {% endfor %}
 </div>

{% endfor %}


{% endblock %}