{% extends 'base.html' %}



{% block content %}

<div class="navbar">
    {% for categories in category %}

  <div class="dropdown">
    <button class="dropbtn">{{ categories }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        {% for sub_categories in sub_category %}
        {% if categories == sub_categories.parent_category %}
      <a href="{% url 'view_sub_category_products' sub_categories.pk %}">{{ sub_categories }}</a>
        {% endif %}
        {% endfor %}
    </div>
  </div>
    {% endfor %}
</div>





 <div class="card2">
  <a href="{% url 'view_product_details' product.pk %}">
  <img src="{{ product.product_pic.url }}" alt="HTML5" style="width:100px;height:100px">
  </a>
  <h1>{{ product.name }}</h1>
  <p>Category: {{ product.category }}</p>
  <p>{{ product.sub_category }}</p>
  <p>Brand: {{ product.brand }}</p>
  <p class="price">Regular Price: {{ product.normal_price }} Tk</p>
  <p class="price">Special Price: {{ product.discount_price }} Tk</p>
  <p>{{ product.product_details }}</p>
  <p><button>Add to Cart</button></p>

</div>





{% endblock %}