{% extends 'base.html' %}



{% block content %}

<div class="navbar">
    {% for categories in category %}

  <div class="dropdown">
    <button class="dropbtn">{{ categories }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        {% for sub_categories in sub_category %}
        {% if categories == sub_categories.parent_category %}
      <a href="{% url 'view_sub_category_products' sub_categories.pk %}">{{ sub_categories }}</a>
        {% endif %}
        {% endfor %}
    </div>
  </div>
    {% endfor %}
</div>


{% for brands in brand %}

{% for products in product_in_this %}
{% if brands == products.brand %}
<div class="catbar"><a href="">{{brands}}</a></div>
<div class="column">
 <div class="card">
  <img src="{{ products.product_pic.url }}" alt="HTML5" style="width:100px;height:100px">
  <h1>{{ products.name }}</h1>
  <p class="price">Regular Price: {{ products.normal_price }} Tk</p>
  <p class="price">Special Price: {{ products.discount_price }} Tk</p>
  <p>{{ products.product_details }}</p>
  <p><button>Add to Cart</button></p>

</div>



</div>
{% endif %}
{% endfor %}

{% endfor %}

{% endblock %}